@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- title -->
<div class="text-center">
    <h1>LitList</h1>
    <h6>A new social media for books</h6>
</div>
<hr class="m-10">

<!-- Features Carousel -->
<div id="litListFeaturesCarousel" class="carousel slide">
    <div class="carousel-inner">
        <!-- Slide 1 -->
        <div class="carousel-item active">
            <img src="img/1.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="white">
                <h1 class="m-4">Track your Reads</h1>
                <h4>With the ability to add and remove books to and from your profile, LitList is the perfect place to track books you've read</h4>
            </div>
        </div>
        <!-- Slide 2 -->
        <div class="carousel-item">
            <img src="img/2.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="white">
                <h1 class="m-4">Connect with Others</h1>
                <h4>Join the growing LitList Community and explore what other book-lovers are reading</h4>
            </div>
        </div>
        <!-- Slide 3 -->
        <div class="carousel-item">
            <img src="img/3.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="white">
                <h1 class="m-4">Browse our Database</h1>
                <h4>Looking for a new book to read? Look no further than LitList's database of 100 books</h4>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#litListFeaturesCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#litListFeaturesCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
